@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700;800&family=Sen:wght@500;600;700&display=swap');

.container-fluid {
    background-color: black;
    color: white;
}

.navbar {
    background: rgba(88, 88, 88, 0.1);
}

.nav-item {
    padding: 5px;
}

.nav-link:hover {
    color: #dd7732;
}

.hero_texts_project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    /* min-height: calc(100vh - 64px); */
}

.hero_title {
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    font-size: 5rem;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -.06em;
    margin: 0 0 40px;
}

@media (max-width: 960px) {
    .hero_title {
        display: flex;
        flex-direction: column;
        font-size: 6rem;
    }
}

@media (max-width: 720px) {
    .hero_title {
        font-size: 4.5rem;
    }
}

.animated-gradient-text_background__tSv9a1 {
    position: relative;
    /* font-size: 7rem; */
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

.animated-gradient-text_background__tSv9a1:before {
    content: 'Eat.';
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: rgb(228, 219, 219);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* padding-left: var(--padding);
    padding-right: var(--padding); */
}

.animated-gradient-text_background__tSv9a2 {
    position: relative;
    /* font-size: 7rem; */
    display: block;
    /* -webkit-user-select: none; */
    /* user-select: none; */
}

.animated-gradient-text_background__tSv9a2:before {
    content: 'Code.';
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: rgb(228, 219, 219);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* padding-left: var(--padding);
    padding-right: var(--padding); */
}

.animated-gradient-text_background__tSv9a3 {
    position: relative;
    /* font-size: 7rem; */
    display: block;
    -webkit-user-select: none;
    user-select: none;
}

.animated-gradient-text_background__tSv9a3:before {
    content: 'Repeat.';
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: rgb(228, 219, 219);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    /* padding-left: var(--padding);
    padding-right: var(--padding); */
}

.animated-gradient-text_foreground-1__s2FIH1 {
    animation: animated-gradient-text_fade-foreground-1__3rW7l 8s infinite;
}

.animated-gradient-text_foreground-1__s2FIH2 {
    animation: animated-gradient-text_fade-foreground-2__P9mAq 8s infinite;
}

.animated-gradient-text_foreground-1__s2FIH3 {
    animation: animated-gradient-text_fade-foreground-3__eTWJh 8s infinite;
}

.animated-gradient-text_foreground__PuOdy1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #007cf0, #00dfd8);
    position: relative;
    z-index: 1;
}

.animated-gradient-text_foreground__PuOdy2 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #7928ca, #ff0080);
    position: relative;
    z-index: 1;
}

.animated-gradient-text_foreground__PuOdy3 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(90deg, #ff4d4d, #f9cb28);
    position: relative;
    z-index: 1;
}

@keyframes animated-gradient-text_fade-foreground-1__3rW7l {

    0%,
    16.667%,
    100% {
        opacity: 1;
    }

    33.333%,
    83.333% {
        opacity: 0;
    }
}

@keyframes animated-gradient-text_fade-foreground-2__P9mAq {

    0%,
    100% {
        opacity: 0;
    }

    33.333%,
    50% {
        opacity: 1;
    }

    16.667%,
    66.667% {
        opacity: 0;
    }
}

@keyframes animated-gradient-text_fade-foreground-3__eTWJh {

    0%,
    50%,
    100% {
        opacity: 0;
    }

    66.667%,
    83.333% {
        opacity: 1;
    }
}

/* *, *::before, *::after { box-sizing:border-box } */

/* :root {
    --card-height: 40vw;
    --card-margin: 4vw;
    --card-top-offset: 1em;
    --outline-width: 0px;
} */

/* #cards {
    padding-bottom: calc(4 * 1em);
    margin-bottom: 4vw;
}

#card_1 {
    --index: 1;
}

#card_2 {
    --index: 2;
}

#card_3 {
    --index: 3;
}

#card_4 {
    --index: 4;
}

.project-card {
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * 1em);
}

.card__content {
    transform-origin: 50% 0%;
    will-change: transform;
} */

/** PAGE STYLING **/

/* main * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

/* body {
	background: rgb(58 29 43);
	color: rgb(255, 255, 255);

	font-size: calc(1em + 0.5vw);
} */

/* main {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
}

#cards {
    list-style: none;
    outline: calc(0px * 10) solid hotpink;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 40vw);
    gap: var(--card-margin);
}

.project-card {
    outline: 0px solid lime;
}

.card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    background: rgb(17, 16, 17);
    color: rgb(255, 255, 255);
    border-radius: 1em;
    overflow: hidden;

    display: grid;
    grid-template-areas: "text iframe";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    align-items: stretch;
    outline: 0px solid blue;
}

.card__content>div {
    grid-area: text;
    width: 80%;
    place-self: center;
    text-align: left;

    display: grid;
    gap: 1em;
    place-items: start;
}

.card__content>figure {
    grid-area: iframe;
    overflow: hidden;
}

.project-preview {
    background-image: url('https://deepcodr.vercel.app');
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

main h1 {
    font-weight: 300;
    font-size: 3.5em;
}

main h2 {
    font-weight: 300;
    font-size: 2.5em;
}

main p {
    font-family: sans-serif;
    font-weight: 300;
    line-height: 1.42;
}

main .btn {
    background: rgb(188 87 36);
    color: rgb(255 255 255);
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
    border-radius: 0.25em;
}

aside {
    width: 50vw;
    margin: 0 auto;
    text-align: left;
}

aside p {
    margin-bottom: 1em;
} */

/* Position warning box */
/* .warning {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
    width: max-content;
    text-align: center;
    max-width: 90vw;
    margin: auto;
    z-index: 2;
    font-size: 0.8em;
    color: #333;
} */

.footer {
    color: white;
}

/* body{
    position : absolute;
    height: 120vh;
    display: block;
} */

/* parallax scrolling */
.project-wrapper {
    /* display: block; */
    position: absolute;
    height: 100%;
    /* margin: 0; */
    font: 400 15px/1.8 "Sen", sans-serif;
    color: #777;
}

/* #iframe {
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    height: inherit;
    z-index: 0;
    left: no-repeat;
    overflow-y: hidden;
    pointer-events: none;
    background-clip: content-box;
} */

.bgimg-1,
.bgimg-2,
.bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.bgimg-1 {
    background-image: url("https://source.unsplash.com/random/?cars");
    /* background-image: element("iframe"); */
    min-height: 100%;
}

.bgimg-2 {
    background-image: url("https://source.unsplash.com/random/?Coding");
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("https://source.unsplash.com/random/?Abstract");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
    }
}